
/* 
    Created on : Aug 21, 2014
    Author     : Rossano
*/

* {
   padding: 0px;
   margin: 0px;
}

body {padding: 0px;
      background-color: #E6FEFF;
}

#wrapper {
	width: 1280px;
	margin: 0 auto;
        background-color: white;
        
}

a:visited,a:link{
    color:#49809c;
}

a:hover{
    text-decoration:underline;
    color:#769fb4;
}

.dropdown {
	width:285px;  /*Tamanho final do select*/
	overflow:hidden; /*Oculta conteúdo que passar do tamanho do width*/
}

.dropdown select {
    color:white;
    background: url("images/arrowdown.gif") no-repeat scroll 88% center #49809C;  /* Imagem de BG*/
    background-position: 88% center;  /*Posição da imagem do background*/    
    border: 0 !important;  /*Remove bordas*/
    text-indent: 5px;
    width: 312px; /* tamanho do select, maior que o tamanho do width da classe dropdown */
    height:25px; /* altura do select*/
    
    -webkit-appearance: none;  /*Remove estilo padrão do Chrome*/
    -moz-appearance: normal; /* Remove estilo padrão do FireFox*/
    select::-ms-expand { display: none; }/* Remove seta padrão do IE*/
}

#hbusca #select{
    margin-top: 5px;
    margin-left: 170px;
    height: auto;
}

#hbusca #bt{
    margin-left: 337px;
    margin-top: 10px;
   
}

#agbusca #select{
    margin-top: 10px;
    margin-left: 485px;    
}

#agbusca #bt{
    margin-top: 10px;
    margin-left: 650px;
}


input[type="button"] {
    -moz-user-select: none;
    background: none repeat scroll 0 0 #49809c;
    border: medium none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-family: Arial;
    font-size: 15px;
    margin: 0;
    padding: 5px 34px;
    transition-duration: 0.5s;
    //width: 117px;
}

input[type="button"]:hover {
    background: none repeat scroll 0 0 #6CA2BB;
    border: medium none;
}


header{
    background-image: url("/images/bkg_header.png");
    height: 131px;
}

nav{
    font-family: Arial;
    size:15px;
    color: #49809C;
    font-size:15px;
    height: 131px;
    padding-left: 540px;    
    text-decoration: none;
}

a{
    text-decoration: none;
}



#arrow{    
    background-image: url("images/arrow.png");
    background-repeat: no-repeat;
    float:left;
    width:11px;
    height: 15px;
}


#pacientes{
    width: 200px;
    font-size: 15px;
    font-family: Arial;
    float: left;
    padding-left: 20px;
}

#clinicas{
    width: 162px;
    font-size: 15px;
    font-family: Arial;
    float: left;
    padding-left: 50px;
}

#clinicas .title, #pacientes .title{
    font-size: 17px;
    color:#769FB4;
    padding-bottom: 5px;
}

#pacientes .item, #clinicas .item{
    width:200px;
    padding-bottom: 5px;
}

#mainContent {
    width: 1280px;
    min-height:595px;
       // background-color: brown;        
}

.columnContainer {
    padding-top: 0px;
}


#banner{
 float:left;   
 width:688px;
 height: 458px;
 background-color: #49809c;
}

#leftContent{
    float:left;
    width: 592px;
    height: 458px;
    
}

#leftContent #hbusca{
    height: 78px; 
}


#leftContent #info{
    height: 313px;
    background: url(images/img_top_left.png) top left no-repeat,
                url(images/img_bottom_left.png) bottom left no-repeat,
                url(images/img_top_right.png) top right no-repeat;    
}

#infoContainer{
    width: 1280px;
    height: 139px;
    padding-top: 2px;
}

#infoContainer div{
    float:left;
    width: 361px;    
    height: 139px;    
    //border: solid 1px coral;
}

#info{
    padding-left: 70px; padding-right: 50px; padding-top: 48px;
}

#info ul{    
    font-family: Arial;    
    color:#769FB4;    
    line-height: 24px;
    list-style: none;
    padding-top: 20px;
}

#infoContainer #info1{
    background-image: url("images/info_bkg1.png");
    background-repeat: no-repeat;    
}

#infoContainer #info2{
    background-image: url("images/info_bkg2.png");
    background-repeat: no-repeat;
}


#infoContainer #info3{    
    background-image: url("images/info_bkg3.png");
    background-repeat: no-repeat;     
}

#infoContainer p{
    font-family: Arial;
    size: 18px;
    color: #49809c;    
}

#mainContent .title{
    position: relative;
    font-family: Arial;
    font-size: 25px;
    color: #669EB4;
    margin-left: 485px;
    margin-top: 5px;
}

.agenda{
    color:#49809c;
    min-height: 355px;    
    margin-bottom: 30px;
    padding: 50px;
    background: url(images/img_top_left.png) top left no-repeat,
                url(images/img_bottom_left.png) bottom left no-repeat,
                url(images/img_top_right.png) top right no-repeat;      
}

.info_clinica{
    float: left;
    font-family: Arial;
    font-size: 17px;
    min-height: 370px;
    width: 340px;
    margin-left: 30px;
}

.grade{
    float: left;
    width: 600px;
    //background-color:cornsilk; 
}

.grade .data{
    text-align: center;
    height: 20px;    
    width: 600px;
    color:white;
    background-color: #49809c;
    border:solid 1px;
}

.grade .horarios{     
    min-height:200px;
    width: 600px;
   // background-color: #ccc;    
}

.grade .horarios .column{
    float: left;
    margin-top: 10px;
    vertical-align: middle;
    width: 290px;
    //height: 240px;
   // border:solid 1px;
    
}

.grade .horarios .column div{
    float: left;
    width: 180px;
    height: 20px;
    text-align: left;    
}

.grade .horarios .column .radio{
    width: 100px;
    height: 20px;    
    text-align: right;
    padding-right: 10px;
}



.grade .line{
    height: 1px;
    width: 600px;
    background-color: #49809c;
    margin-top: 5px;
    margin-bottom: 10px;
}


.info_clinica #nome{   
    height: 17px;
    width: 340px;
    padding-bottom: 5px;
}

.info_clinica #logo{    
    height: 118px;
    width: 118px;
    text-align: center;
    border: solid 1px #ccc;
    color:#ccc;    
}

.info_clinica #endereco{
    min-height: 250px;
    width: 340px;
}

.info_clinica #logo div{
    width: 118px;
    height: 118px;
    vertical-align:middle;
    display: table-cell;    
}


footer{
    background-image: url("/images/bkg_footer.png");
    background-attachment: scroll;
    background-repeat: repeat;
    min-height: 293px;
    color:#49809c;
}

footer #links{
    width: 1280px;
    font-size: 15px;
    font-family: Arial;    
}

footer span a{
    padding-left: 5px;
    padding-right: 5px;
}

footer #links div{
    padding-top: 25px;
    padding-bottom: 2px;    
}



.clearFix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}